<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>this is mega file</title>
</head>
<style>

</style>
<body>
    <div class="megaImg">
        <img src="https://f005.backblazeb2.com/b2api/v1/b2_download_file_by_id?fileId=4_z23fa88c96719f34482cb0d1e_f116101cbbc10abdd_d20240110_m171852_c005_v0501011_t0044_u01704907132250" alt="">
    </div>

</body>
</html>